<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Add your Tailwind CSS file -->
   <link href="/styles/tailwind.css" rel="stylesheet">
</head>

<body class="bg-black text-white">

<div class="min-h-screen">
  <h1>Hello World</h1>
</div>

</body>
</html>
